doctype html
html(lang="en")
  head
    title Gulp Project
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name='description', content="MathVantage.")
    link(href='assets/stylesheets/main.css', rel='stylesheet')
    script(src='assets/scripts/app.min.js')

  body
