// Fixed widths
$width: 960px;
$break-point: 768px;
$max-width: 1200px;


// Spacing
$margin: 1em;
$padding: 0.75em;
$border-radius: 1em;

// Black and White Spectrum
$gray:                    #757779;
$silver:                  #ECF0F1;
$white:                   #fafafa;
$black:                   #333;
$black-title:             #222;
$black-body:              #444;
